[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"


[packages]

graphene = "==3.0.0b5"


[requires]

python_version = "3.6"


[pipenv]

allow_prereleases = true
